# Created by https://www.toptal.com/developers/gitignore/api/netbeans
# Edit at https://www.toptal.com/developers/gitignore?templates=netbeans

### NetBeans ###
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
images/
nbbuild/
dist/
nbdist/
.nb-gradle/

README.md

# End of https://www.toptal.com/developers/gitignore/api/netbeans
/mavenproject1/target/

